@import '../../../../shared/styles/shared';

.c-posts-container {
    position: relative;
    display: flex;

    .posts-container__left-content {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .posts-container__introduction {
        font-weight: normal;
        color: $color--dark-blue;
        line-height: 1.2;
    }

    .posts-container__right-content {
        margin-left: 1rem;
        width: 80%;
    }

    .posts-container__pop-up {
        position: fixed;
        top: 3rem;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color--white, 0.75);
    }

    .posts-container__pop-up-bg {
        height: 100%;
        width: 100%;
    }
}
